In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                                               title  year
0  Doraemon: New Nobita's Great Demon-Peko and th...  2014
1                                       Inside Moves  1980
2                 The Naked Brothers Band: The Movie  2005
3                                     The Life After  2007
4                                        Der Unfisch  1997

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

### How many movies are listed in the titles dataframe?

In [5]:
len(titles)

223499

### What are the earliest two films listed in the titles dataframe?

In [8]:
titles.sort_values(by='year').head(2)

                                                 title  year
120341                                      Miss Jerry  1894
85484   Reproduction of the Corbett and Jeffries Fight  1899

### How many movies have the title "Hamlet"?

In [10]:
len(titles[titles.title == "Hamlet"])

19

### How many movies are titled "North by Northwest"?

In [11]:
len(titles[titles.title == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [12]:
c = titles[titles.title == "Hamlet"]
c = c.sort_values(by='year')
c.head(1)

         title  year
107431  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [13]:
titles[titles.title == 'Treasure Island'].sort_values(by='year')

                  title  year
65277   Treasure Island  1918
120472  Treasure Island  1920
4841    Treasure Island  1934
162555  Treasure Island  1950
60636   Treasure Island  1972
121471  Treasure Island  1973
19673   Treasure Island  1985
54329   Treasure Island  1999

### How many movies were made in the year 1950?

In [14]:
len(titles[titles.year == 1950])

1081

### How many movies were made in the year 1960?

In [15]:
len(titles[titles.year == 1960])

1487

### How many movies were made from 1950 through 1959?

In [16]:
c = titles[(titles.year >= 1950) & (titles.year <= 1959)]
len(c)

12340

### In what years has a movie titled "Batman" been released?

In [19]:
titles[titles.title == "Batman"].sort_values(by='year')

         title  year
172602  Batman  1943
53001   Batman  1989

### How many roles were there in the movie "Inception"?

In [20]:
len(cast[cast.title == 'Inception'])

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [22]:
len(cast[(cast.title == 'Inception') & (cast.n.isnull())])

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [23]:
len(cast[(cast.title == 'Inception') & (cast.n.notnull())])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [24]:
c = cast[cast.title == 'North by Northwest']
c = c[c.n.notnull()]
c.sort_values(by='n')

,title,year,name,type,character,n
810109,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3235971,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1354180,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2911919,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
330827,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2815263,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1576006,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1184592,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2272380,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1683543,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
618775,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2131821,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
431247,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1402205,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
190611,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1286691,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [25]:
c = cast[(cast.title == 'Sleuth') & (cast.year == 1972)]
c.sort_values(by='n')

,title,year,name,type,character,n
1585272,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
302918,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
346900,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1361812,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2523593,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1346399,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [26]:
c = cast[(cast.title == 'Sleuth') & (cast.year == 2007)]
c.sort_values(by='n')

          title  year                 name     type          character    n
302919   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1201800  Sleuth  2007             Jude Law    actor               Milo  2.0
1678498  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
240674   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
346901   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2523592  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3103659  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [28]:
c = cast[(cast.title == 'Hamlet') & (cast.year == 1921)]
len(c)

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [29]:
c = cast[(cast.title == 'Hamlet') & (cast.year == 1996)]
len(c)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [31]:
c = cast[cast.character == 'Hamlet']
len(c)

88

### How many people have played an "Ophelia"?

In [32]:
c = cast[cast.character == 'Ophelia']
len(c)

103

### How many people have played a role called "The Dude"?

In [33]:
c = cast[cast.character == 'The Dude']
len(c)

17

### How many people have played a role called "The Stranger"?

In [34]:
c = cast[cast.character == 'The Stranger']
len(c)

206

### How many roles has Sidney Poitier played throughout his career?

In [35]:
c = cast[cast.name == 'Sidney Poitier']
len(c)

43

### How many roles has Judi Dench played?

In [36]:
c = cast[cast.name == 'Judi Dench']
len(c)

53

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [37]:
c = cast[(cast.name == "Cary Grant") & (cast.n == 2)]
c = c[c.year // 10 == 194]
c

                   title  year        name   type    character    n
810106  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
810116    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [39]:
c = cast[(cast.name == "Cary Grant") & (cast.n == 1)]
c = c[c.year // 10 == 194]
c.sort_values(by='year')

,title,year,name,type,character,n
810131,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
810088,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
810133,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
810121,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
810135,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
810112,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
810079,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
810104,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
810105,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
810113,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
810071,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
810108,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
810107,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
810110,Notorious,1946,Cary Grant,actor,Devlin,1.0
810127,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
810128,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
810103,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
810083,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
810092,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [40]:
len(cast[(cast.type == 'actor') & (cast.year // 10 == 195)])

152504

### How many roles were avilable for actresses in the 1950s?

In [41]:
len(cast[(cast.type == 'actress') & (cast.year // 10 == 195)])

55399

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [42]:
len(cast[(cast.n == 1) & (cast.year <= 1980)])

62893

### How many non-leading roles were available through from the beginning of film history through 1980?

In [43]:
len(cast[(cast.n != 1) & (cast.year <= 1980)])

1078683

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [44]:
len(cast[(cast.n.isnull()) & (cast.year <= 1980)])

431053